<!-- This is the header for the GraMI subfolder pages -->

<div id="heading-breadcrumbs" style="background-color: #F3F3F3">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <table align="center">
                	<tr>
	                	<!-- <td><img src="/img/logo_pest-bin_800px.png" width="175px" /></td> -->
	                	<td style="padding: 25px;">
	                		<h3 style="font-weight: normal">
	                			Graphene-based drug delivery systems for treating MRSA infections (GraMI)
	                		</h3>
	                	</td>
	            	</tr>
            	</table>
            </div>
        </div>
    </div>
</div>
