<div id="footer" style="background-color: #F3F3F3; color: black">
  <div class="container">
    <div class="row">

      <div class="col-md-2">
      </div>

      <div class="col-md-8">
        <hr class="hidden-md hidden-lg hidden-sm">
        <table>
          <tr>
              <td>
                <!-- zzz  -->
                <img src="/img/logo_nordforsk_cropped.svg" width="150" alt="Nordforsk logo" />
              </td>
          <!-- </tr>
          <tr> -->
              <td style="padding: 15px; text-align: center;">
                This project has received funding from NordForsk, under grant agreement number 105121.
              </td>
          </tr>
        </table>

      </div>

      <div class="col-md-2">
      </div>

    </div>
  </div>
</div>
