<div class="col-md-6 col-sm-12" style="margin-bottom: 15px;">
  <div clas="row">
    <div class="col-md-3 col-sm-3 col-xs-4" style="min-width: 80px;">
      <img src="{{ .Site.BaseURL }}{{ .Params.picture }}" alt="{{ .Params.name }}" style="float:right" class="img-circle">
    </div>
    <div class="col-md-9 col-sm-9 col-xs-7" style="padding-left: 0;">
      <a href="{{ .Permalink }}"><h5 style="margin-top: 0;">{{ .Params.name }}</h5></a>
      <p>{{ .Params.position }}<br>{{ .Params.email }}<br>
      {{ range .Params.flags }}
        <a href="https://en.wikipedia.org/wiki/{{ substr . 3 }}" ><img src="http://www.countryflags.io/{{ substr . 0 2 }}/flat/32.png" alt="{{ . }}"></a>
      {{ end }}
      </p>
    </div>
  </div>
</div>
