<div class="container" style="margin-bottom:8em;">
  <div class="row">
    <div class="col-md-1">
      <img src="{{ .Params.picture }}" alt="{{ .Params.name }}">
    </div>
    <div class="col-md-9">
      <p>{{ .Params.position | markdownify }}<br>{{ .Params.email }}<br>
      {{ range .Params.flags }}
        <a href="https://en.wikipedia.org/wiki/{{ substr . 3 }}" ><img src="http://www.countryflags.io/{{ substr . 0 2 }}/flat/32.png" alt="{{ . }}"></a>
      {{ end }}
    </p>
    </div>
  </div>
  <div class="row" style="padding-top:30px;">
    <div class="col-md-12">
        {{ .Content }}
    </div>
  </div>
</div>
