<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>
          {{ partial "top.html" . }}
          {{ partial "nav.html" . }}
        </header>

        {{ if isset .Params "template" }}
          {{ if eq .Params.template "people/profile" }}
            {{ partial "breadcrumbs.html" .Params.name }}
          {{ else if eq .Params.template "labs/single" }}
            {{ partial "breadcrumbs.html"  .Title}}
          {{ else }}
            {{ partial "breadcrumbs.html"  .Title}}
          {{ end }}
        {{ else }}
          {{ partial "breadcrumbs.html"  .Title}}
        {{ end }}

        <div id="content">
          {{ if isset .Params "template" }}
            {{ partial .Params.template . }}
          {{ end }}
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
