<!-- 
    This is the layout for the PEST-BIN home page (_index.md).
    Set as collection list layout in order to have some special elements and
    give a clean URL ../pest-bin_eu
    This layout overrides the default website one with a custom layout for the PEST-BIN subfolder.
  -->


<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "pest-bin_eu/head.html" . }}

  <body>

    <div id="all">
        
        {{ partial "pest-bin_eu/breadcrumbs.html"  "PEST-BIN EU"}}
        
        <div class="container" style="margin-bottom:8em;">
          <div class="row">
            
            <div class="col-md-2">
              {{ partial "pest-bin_eu/menu.html" . }}
            </div>
            
            <div class="col-md-6">
              {{ .Content }}
            </div>

            <div class="col-md-4">
              
              <a class="twitter-timeline" 
                  data-width="400" 
                  data-height="600" 
                  href="https://twitter.com/PestBIN_ITN?ref_src=twsrc%5Etfw">Tweets by eCHOSystems_ST</a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 

            </div>
          </div>
        </div>

        {{ partial "pest-bin_eu/footer.html" . }}

    </div>

    {{ partial "scripts.html" . }}

  </body>
</html>
