<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

          {{ partial "breadcrumbs.html" .Title }}

        <div id="content">
            <div class="container" role="main">
              {{.Content}}
              <h4>
                {{ range .Data.Pages.GroupByParam "person-category" }}
                  {{ substr .Key 2 }}
                {{ end }}
              </h4>
              {{ range .Data.Pages.GroupByParam "person-category" }}
              <h3>{{ substr .Key 2 }}</h3>
                {{ partial "people-section.html" .Pages }}
              {{ end }}
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
