<!-- This is the header for the PEST-BIN subfolder pages -->

<div id="heading-breadcrumbs" style="background-color: #F3F3F3">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center">
                <table align="center">
                	<tr>
	                	<td><img src="" /></td>
	                	<td style="padding: 25px;">
	                		<h3 style="font-weight: normal">
	                			PEST-BIN EU: Pioneering Strategies Against Bacterial Infections
	                		</h3>
	                	</td>
	            	</tr>
            	</table>
            </div>
        </div>
    </div>
</div>
