<footer id="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-6" style="height: 220px;">
        {{ range .Site.Data.labs }}
          <div class="blog-entries">
            <div class="item same-height-row">
              <div class="image same-height-always">
                <a href="{{ .Permalink }}">
                  <img class="img-responsive" alt="{{ .name }}" src="{{ .avatar | absURL }}">
                </a>
              </div>
              <div class="name same-height-always">
                <h5><a href="{{ .Permalink }}">{{ .name }}</a></h5>
              </div>
            </div>
          </div>
          {{ if eq .name "Mijakovic Lab" }}
      </div>
      <div class="col-md-3 col-sm-6" style="height: 220px;">
          {{ end }}
        {{ end }}
      <br><br>
      </div>

      {{ if isset .Site.Params "about_us" }}
      <div class="col-md-3 col-sm-6">
          <img class="footer-logo" src="{{ .Site.BaseURL }}{{ .Site.Params.about_us }}" alt="Chalmers University Logo">
          <hr class="hidden-md hidden-lg hidden-sm">
      </div>
      {{ end }}

      {{ if isset .Site.Params "address" }}
      <div class="col-md-3 col-sm-6">
          {{ .Site.Params.address | markdownify }}
      </div>
      {{ end }}

    </div>
  </div>
  <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT *** -->

<div id="copyright">
  <div class="container">
    <div class="col-md-12">
      <p class="text-center">{{ .Site.Params.copyright | safeHTML }}</p>
    </div>
  </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
