<footer id="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-sm-4 col-md-offset-1">
        {{ $pages := (where (where .Site.Pages "Type" "labs") "IsPage" true) }}
        {{ range $pages }}
          <div class="blog-entries">
            <div class="item same-height-row">
              <div class="image same-height-always">
                <a href="{{ .Permalink }}">
                  <img class="img-responsive" alt="{{ .Params.name }}" src="{{ .Params.picture | absURL }}">
                </a>
              </div>
              <div class="name same-height-always">
                <h5><a href="{{ .Permalink }}">{{ .Params.name }}</a></h5>
              </div>
            </div>
          </div>
        {{ end }}
        <hr class="hidden-md hidden-lg hidden-sm">
      </div>

      {{ if isset .Site.Params "about_us" }}
      <div class="col-md-4 col-sm-4">
          <img class="footer-logo" src="{{ .Site.BaseURL }}{{ .Site.Params.about_us }}" alt="Chalmers University Logo">
          <hr class="hidden-md hidden-lg hidden-sm">
      </div>
      {{ end }}

      {{ if isset .Site.Params "address" }}
      <div class="col-md-3 col-sm-4">
          {{ .Site.Params.address | markdownify }}
      </div>
      {{ end }}

    </div>
  </div>
</footer>

<div id="copyright">
  <div class="container">
    <div class="col-md-12">
      <p class="text-center">{{ .Site.Params.copyright | safeHTML }} [ updated {{ dateFormat "2 January 2006" now }} ]</p>
    </div>
  </div>
</div>
