<section class="bar background-white no-mb">
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-12">
        <div class="heading text-center">
          <h2>{{ .Site.Params.organization.title }}</h2>
        </div>
      </div>
      <div class="col-md-6">
          <p class="lead">
            {{ .Site.Params.organization.subtitle | markdownify }}
          </p>
      </div>
      <div class="col-md-6">
        <img alt="{{ .Site.Title }}" src="{{ .Site.Params.organization.image | absURL }}" style="height:100%;">
      </div>
    </div>
  </div>
</section>
